@font-face {
    font-family: 'Conv_DIN Light Regular';
    src: url('fonts/DIN Light Regular.eot');
    src: local('☺'), url('fonts/DIN Light Regular.woff') format('woff'), url('fonts/DIN Light Regular.ttf') format('truetype'), url('fonts/DIN Light Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_DINOT';
    src: url(fonts/DINOT.eot);
    src: local(☺), url(fonts/DINOT.woff) format("woff"), url(fonts/DINOT.ttf) format("truetype"), url(fonts/DINOT.svg) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Conv_DINOT-Bold';
    src: url(fonts/DINOT-Bold.eot);
    src: local(☺), url(fonts/DINOT-Bold.woff) format("woff"), url(fonts/DINOT-Bold.ttf) format("truetype"), url(fonts/DINOT-Bold.svg) format("svg");
    font-style: normal
}
body {
    font-family: 'Conv_DINOT', Sans-Serif;
    overflow: hidden;
    color: #fff !important
}
a {
    color: #fff;
    cursor: pointer;
    text-decoration: none
}
a:active,
a:hover,
a:focus {
    color: #666;
    text-decoration: none
}
strong{
    font-family: 'Conv_DINOT-Bold';	
}
button{
    background: transparent;
    border: none;
    outline: none;
}
h1{
    line-height: 1.5;
}
h1 span{
    font-family: 'Conv_DIN Light Regular';
}
.toque-aqui {
    text-align: center;
    position: relative;
    top: 280px;
    z-index: 99999;
}
.tela-1 {
    background-image: url(../images/background-lavadora-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px
}
.tela-2 {
    background-image: url(../images/background-lavadora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px
}
.tela-3 {
    background-image: url(../images/p3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px
}
.tela-4 {
    background-image: url(../images/g3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px
}
.tela-5 {
    background-image: url(../images/b3-16kg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px
}
.tela-6 {
    background-image: url(../images/b3-14kg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px
}
.tela-7 {
    background-image: url(../images/lava-seca.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px
}
.selos{
    position: absolute;
    left: 0;
}
.n1{
    position: absolute;
    left: 190px;
    top: 60px;
}
.l40{
    position: absolute;
    left: 425px;
    top: 60px;
}
.frase{
    position: absolute;
    bottom: 0;
    left: 60px;
}
.movimento-das-aguas{
    position: absolute;
    left: 83px;
    top: 260px;
}
.botao-calculo{
    position: absolute;
    left: 320px;
    top: 260px;
}
.linha-completa{
    position: absolute;
    left: 555px;
    top: 260px;
}
.calculo-1, .calculo-2, .calculo-3, .calculo-4{
	height: 768px;
}
.brand {
    padding: 0 20px
}
.parabens{
    font-family: 'Conv_DINOT-Bold';
    font-size: 45px;
}
.img{
    width: 100%;
}
.font-10{
    font-family: 'Conv_DIN Light Regular';
    font-size: 10px;
}
.font-17{
    font-family: 'Conv_DIN Light Regular';
    font-size: 17px;
}
.font-20{
    font-size: 20px;
}
.font-30{
	font-size: 30px;
}
.margin-top-30 {
    margin-top: 30px
}
.margin-top-95 {
    margin-top: 95px
}
.margin-top-175 {
    margin-top: 175px
}
.margin-top-275 {
    margin-top: 275px
}
.continuar-left {
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 25px
}
.conteudo {
    height: 620px
}
.conteudo-sem-img {
    height: 475px
}
.continuar-right {
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: 25px
}
.text-shadow{
	text-shadow:1px 1px 1px rgba(0,0,0,0.95);
}
h2.title {
    font-size: 35px;
    font-family: 'Conv_DINOT-Bold',Sans-Serif;
}
#count-maqs{
	width: 240px;
	height: 90px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0px rgba(51,51,51,0.5);
	border: 1px solid #fff;
	text-align: center;
	overflow: hidden;
	color: #000;
}
#count-maqs:focus{
	outline: none;
}
.count-maqs{
	margin-top: 70px;
}
.count-maqs label{
	font-size: 50px;
}
.button {
	text-indent: -9999px;
	cursor: pointer;
	width: 100px;
	height: 100px;
	text-align: center;
	background: url(../images/buttons.png) no-repeat;
	position: relative;
}
.dec{
	background-position: 0 -100px;
	float: left;
	left: 20%;
}
.inc {
	right: 20%;
	float: right;
}
.message-maquina{
	text-align: center;
}
.modelo-maquina{
	height: 425px;
}
.modelo-maquina img{
	height: 90%;
}
.message-maquina .line1{
	font-size: 35px;
	line-height: 1em;
}
.message-maquina .strong{
	line-height: 0.8em;
	font-weight: bold;
	font-family:'Conv_DINOT-Bold',Sans-Serif;
	text-align: center;
	font-size: 90px;
}
.message-maquina .span{
	line-height: 0.5em;
	text-align: right;
    font-size: 35px;
}
.message-garrafa {
    font-size: 20px;
    position: relative;
	top: 50px;
}
.message-garrafa .line1{
	font-size: 35px;
	text-align: center;
}
.message-garrafa .strong{
	line-height: 0.8em;
	font-weight: bold;
	font-family:'Conv_DINOT-Bold',Sans-Serif;
	text-align: center;
	font-size: 90px;
}
.message-garrafa .span{
	line-height: 1.2em;
	font-size: 30px;
	text-align: center;
}