<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="4.0" xmlns="http://www.w3.org/ns/widgets">
	<name>Urban Audio - Panasonic</name>
	<description>REINVENTE A FORMA COMO A MÚSICA ACOMPANHA A SUA VIDA. O URBAN AUDIO foi totalmente redesenhado com funcionalidades incríveis, com o objetivo de alcançar um nível perfeito de sofisticação.</description>
	<author email="contato@rtpublicity.com.br" href="http://rtpublicity.com.br/sites/panasonic/ua7">Urban Audio - Panasonic</author>
	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="permissions" value="none" />
	<preference name="orientation" value="landscape" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />

	<plugin name="cordova-plugin-inappbrowser" spec="1.6.1" />
	<plugin name="cordova-plugin-device" spec="1.1.4" />
	<plugin name="cordova-plugin-splashscreen" spec="4.0.1" />

	<icon src="icon.png" width="512" height="512" /> 

	<platform name="ios">
		<!-- iPad -->
		<icon src="res/icon/ios/icon-76.png" width="76" height="76" />
		<icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
		<icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167" />
	</platform>
</widget>
